@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;400;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container .page1 {
  width: 100%;
  height: 100vh;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .page1 nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .page1 .width80 {
  padding-top: 18px;
  width: 80%;
  margin: auto;
}
.container .page1 .txt1 {
  width: 134px;
  height: 32px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.container .page1 ul {
  justify-content: space-between;
  width: 300px;
  display: flex;
  font-size: 24px;
}
.container .page1 ul li {
  display: flex;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  list-style-type: none;
}
.container .page1 .txt2 {
  width: 509px;
  height: 130px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-left: 10%;
  margin-top: 110px;
}
.container .page1 .txt3 {
  width: 376px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 10%;
  margin-top: 95px;
}
.container .page1 .button {
  padding: 10px 10px;
  width: 182px;
  height: 48px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  background: #FF7B47;
  border-radius: 37px;
  margin-left: 10%;
  margin-top: 55px;
  color: white;
  border: 1px solid #FF7B47;
}
.container .page1 .buton {
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.92) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 10px 10px;
  width: 152px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #0D5C63;
  border-radius: 37px;
  color: #0D5C63;
}
.container .page2 {
  width: 100%;
  height: 70vh;
  background-color: white;
}
.container .page2 .text1 {
  margin-left: 10%;
  margin-top: 125px;
  width: 419px;
  height: 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.container .page2 .text2 {
  margin-left: 10%;
  margin-top: 15px;
  width: 470px;
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page2 .carta {
  margin-top: 30px;
  justify-content: space-evenly;
  display: flex;
}
.container .page2 .carta .carta1 {
  width: 288px;
  height: 72px;
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid #E2E2E2;
}
.container .page2 .carta .background {
  width: 72px;
  height: 72px;
  background: #0D5C63;
  border-radius: 50%;
  position: relative;
}
.container .page2 .carta .background .image {
  position: absolute;
  left: 21px;
  top: 19px;
}
.container .page2 .carta .textt {
  padding-left: 90px;
  padding-top: 25px;
  width: 124px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page2 .carta .carta2 {
  width: 288px;
  height: 72px;
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid #E2E2E2;
}
.container .page2 .carta .background2 {
  width: 72px;
  height: 72px;
  background: #0D5C63;
  border-radius: 50%;
  position: relative;
}
.container .page2 .carta .background2 .image2 {
  position: absolute;
  left: 22px;
  top: 22px;
}
.container .page2 .carta .textt2 {
  padding-left: 90px;
  padding-top: 25px;
  width: 254px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page2 .carta .carta3 {
  width: 288px;
  height: 72px;
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid #E2E2E2;
}
.container .page2 .carta .background3 {
  width: 72px;
  height: 72px;
  background: #0D5C63;
  border-radius: 50%;
  position: relative;
}
.container .page2 .carta .background3 .image3 {
  position: absolute;
  left: 22px;
  top: 22px;
}
.container .page2 .carta .textt3 {
  padding-left: 90px;
  padding-top: 25px;
  width: 254px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page2 .cartaa2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.container .page2 .cartaa2 .cartaa1 {
  width: 288px;
  height: 72px;
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid #E2E2E2;
}
.container .page2 .cartaa2 .backgroundd1 {
  width: 72px;
  height: 72px;
  background: #0D5C63;
  border-radius: 50%;
  position: relative;
}
.container .page2 .cartaa2 .backgroundd1 .imagee1 {
  position: absolute;
}
.container .page2 .cartaa2 .texttt1 {
  padding-left: 90px;
  padding-top: 25px;
  width: 200px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page2 .cartaa2 .cartaaa2 {
  width: 288px;
  height: 72px;
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid #E2E2E2;
}
.container .page2 .cartaa2 .backgroundd2 {
  width: 72px;
  height: 72px;
  background: #0D5C63;
  border-radius: 50%;
  position: relative;
}
.container .page2 .cartaa2 .backgroundd2 .imagee2 {
  position: absolute;
  left: 19px;
  top: 28px;
}
.container .page2 .cartaa2 .texttt2 {
  padding-left: 90px;
  padding-top: 25px;
  width: 154px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page2 .cartaa2 .cartaa3 {
  width: 288px;
  height: 72px;
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid #E2E2E2;
}
.container .page2 .cartaa2 .backgroundd3 {
  width: 72px;
  height: 72px;
  background: #0D5C63;
  border-radius: 50%;
  position: relative;
}
.container .page2 .cartaa2 .backgroundd3 .imagee3 {
  position: absolute;
  left: 26px;
  top: 22px;
}
.container .page2 .cartaa2 .texttt3 {
  padding-left: 90px;
  padding-top: 25px;
  width: 200px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page3 {
  width: 100%;
  height: 95vh;
  background: #FAFAFA;
}
.container .page3 .texthoo {
  padding-top: 90px;
  text-align: center;
}
.container .page3 .texthoo .textpage3 {
  text-align: center;
  height: 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}
.container .page3 .texthoo .text2page3 {
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .page3 .imageee {
  justify-content: space-evenly;
  display: flex;
}
.container .page3 .imagess {
  background-image: url(images/media\ bg-cover.png);
  width: 450px;
  height: 350px;
  margin-top: 50px;
}
.container .page3 .imagedrnn {
  margin-top: 130px;
  margin-left: 200px;
}
.container .page3 .text7 {
  margin-top: 50px;
  font-family: "Montserrat";
  width: 26%;
}
.container .page3 .text7 h2 {
  color: rgb(37, 43, 66);
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}
.container .page3 .text7 p {
  color: #737373;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.container .page3 .text7 .thing {
  margin-left: 10%;
}
.container .page4 {
  width: 100%;
  height: 95vh;
  background-color: #17213C;
}
.container .page4 .textcha {
  text-align: center;
  padding-top: 40px;
}
.container .page4 .text1page4 {
  height: 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.container .page4 .text2page4 {
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.container .page4 .aaa {
  width: 100%;
  display: flex;
  gap: 10%;
  margin-top: 60px;
  justify-content: space-evenly;
}
.container .page4 .aaa .aaa1 {
  margin-bottom: 7%;
  background-color: white;
  height: 250px;
  width: 250px;
  left: 103.5px;
  top: 40px;
  border-radius: 0px;
  padding: 30px 60px 30px 60px;
}
.container .page4 .aaa .aaa1 .odamcha {
  position: absolute;
  left: 36%;
}
.container .page4 .aaa .aaa1 .odamchaa {
  position: absolute;
  right: 23%;
}
.container .page4 .aaa .aaa1 h3 {
  color: rgb(37, 43, 66);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  font-family: "Montserrat";
}
.container .page4 .aaa .aaa1 h6 {
  color: rgb(115, 115, 115);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  font-family: "Montserrat";
}
.container .page4 .aaa .aaa1 p {
  color: rgb(115, 115, 115);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  font-family: "Montserrat";
}
.container .page5 {
  width: 100%;
  height: 70vh;
}
.container .page5 .text7 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: "Montserrat";
}
.container .page5 .text7 h2 {
  margin-bottom: 1%;
  color: rgb(37, 43, 66);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  font-family: "Montserrat";
}
.container .page5 .text7 p {
  color: rgb(115, 115, 115);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.container .page5 .card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat";
}
.container .page5 .card .card1 {
  background-color: white;
  height: 230px;
  width: 150px;
  left: 4px;
  top: 0px;
  border-radius: 0px;
  padding: 30px 40px 30px 40px;
  font-family: "Montserrat";
}
.container .page5 .card .card1 h6 {
  color: #FF7B47;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 2%;
  font-family: "Montserrat";
}
.container .page5 .card .card1 h5 {
  margin-bottom: 1%;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  font-family: "Montserrat";
}
.container .page5 .card .card1 p {
  color: rgb(115, 115, 115);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  font-family: "Montserrat";
}
.container .finish {
  width: 100%;
  height: 90vh;
  background-color: rgb(37, 43, 66);
}
.container .finish .last1 {
  display: flex;
  gap: 5%;
}
.container .finish .last1 .text8 {
  width: 30%;
  text-align: center;
  margin-left: 10%;
  padding-top: 5%;
}
.container .finish .last1 .text8 h2 {
  color: white;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
.container .finish .last1 .text8 p {
  color: white;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
.container .finish .last1 .karta {
  margin-left: 10%;
  margin-top: 5%;
}
.container .finish .form {
  margin-top: 7%;
  background-color: white;
  width: 70%;
  display: flex;
  line-height: 200%;
  margin-left: 10%;
}
.container .finish .form .sur .form2 .book {
  height: 58px;
  width: 100%;
  left: 50px;
  top: 539px;
  border-radius: 5px;
  padding: 15px 40px 15px 40px;
}
.container .finish .form .surat {
  height: 600px;
  width: 400px;
}
.container .finish .form h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}
.container .lasstt {
  margin-top: 30px;
  width: 100%;
  height: 30vh;
  background-color: white;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.container .lasstt h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.container .lasstt ul {
  list-style-type: none;
}
.container .lasstt li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #737373;
}
.container .lasstt i {
  margin-top: 10px;
  color: blue;
  letter-spacing: 10px;
}

@media (max-width: 400px) {
  .ul {
    width: 400px;
    height: 80px;
    background: #737373;
  }
}/*# sourceMappingURL=style.css.map */